/**
 * DT173G - Webbutveckling III
 * Projektarbete
 * Maria Rudolphi
 * 2018-10-31
 * _variables.scss
 */

// Color and text variables
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$grey: #ddd;
$blue: darken(rgba(0, 95, 255, 1), 5%);
$red: rgba(200, 0, 0, 1);

$primary-font: 'Muli', sans-serif;

// Set text color depending on background color
// Lighter background returns black color, darker background returns white color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return $black; // Lighter backgorund, return dark color
  } @else {
    @return $white; // Darker background, return light color
  }
}

// Set background color to element, and darker background color on hover
@mixin set-bg-hover-color($color) {
  background: $color;
  &:hover {
	background: darken($color, 10%);
  }
}