/**
 * DT173G - Webbutveckling III
 * Projektarbete
 * Maria Rudolphi
 * 2018-10-31
 * style.scss
 */

// Include
@import 'variables';

// Reset
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Base
body {
  background: $white;
  font-family: $primary-font;
}

header {
  width: 100%;
  height: 190px;
  top: 0;
  clip-path: polygon(100% 0, 100% 85%, 90% 85%, 10% 100%, 0 100%, 0 0);
  background: $blue;
  color: set-text-color($blue);
  position: absolute;
  padding: 10px;

  .userName {
	width: auto;
    float: left;
  }

  .logout {
	width: auto;
    float: right;
	a:link, a:visited {
	  color: set-text-color($blue);
	}
	a:hover, a:active {
	  color: $grey;
	}
  }
}

// Container where users events and training is shown
.container {
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 200px auto 60px;

    .plan-box {
      width: 100%;
      float: left;
      background: $white;
      color: set-text-color($white);
      border: 1px solid lighten($grey, 5%);
      box-shadow: 2px 2px 4px $grey;
      padding: 20px;
	  margin-bottom: 20px;

	  // Every row in event/training plan
	  article {
		border: 1px solid $white;

		h4 {
		  margin-top: 5px;
		  width: 100%;
		}
	  }

	  // col-1 = event. col-2 = training
      .col-1, .col-2 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

		span {
		  padding: 5px;
		}

		.col-1-all {
		  grid-column: 1 / span 5;
		}
        .col-1-1 {
          grid-column: 1 / span 2;
        }
        .col-1-2 {
          grid-column: 3 / span 3;
        }

		.col-2-all {
		  grid-column: 1 / span 5;
		}
        .col-2-1 {
          grid-column: 1;
        }
        .col-2-2 {
          grid-column: 2;
        }
        .col-2-3 {
          grid-column: 3 / span 3;
        }
      }
    }
}

// Add includes boxes and fields to add/change/delete data
.add {
  width: 100%;
  max-height: calc(100% - 205px);
  overflow: auto;
  position: fixed;
  bottom: 20px;

  .show-add {
    padding: 10px;
    @include set-bg-hover-color(lighten($blue, 5%));
    color: set-text-color(lighten($blue, 5%));
  }

  .add-boxes {
    width: 100%;
    display: flex;
    justify-content: center;
	flex-direction: column;
    background: lighten($grey, 10%);
    color: set-text-color(lighten($grey, 10%));
    padding: 20px;

	// Each add-box (event, period, training)
    .add-box {
      width: 100%;
      padding: 10px;
      background: $white;
      color: set-text-color($white);
      border: 1px solid $grey;
      border-radius: 10px;
	  margin: 20px auto;

	  label {
		margin-bottom: 5px;
	  }
      input, select, textarea {
        padding: 13px;
        background: lighten($grey, 10%);
        border: 1px solid $grey;
        border-radius: 10px;
		margin-bottom: 10px;
      }
      .add-button {
        width: 100%;
        @include set-bg-hover-color($blue);
        color: set-text-color($blue);
		margin: 0 auto 10px;
      }
      .delete-button {
        width: 100%;
        @include set-bg-hover-color($red);
        color: set-text-color($red);
		margin: auto;
      }
	  .delete-button:disabled {
		background: darken($grey, 5%);
		color: set-text-color($grey);
		cursor: default;
		:hover {
		  background: darken($grey, 5%);
		}
	  }
	  button {
		padding: 10px;
		border-radius: 10px;
		border: 1px solid $grey;
		box-shadow: 2px 2px 4px $grey;
	  }
	  a {
		font-size: 18px;
	  }
    }
  }
}

footer {
  width: 100%;
  height: 20px;
  position: fixed;
  bottom: 0;
  background: lighten($black, 5%);
  color: set-text-color(lighten($black, 5%));
  font-size: 10px;
  line-height: 20px;
  text-align: center;
}


/**
Text & Helpers
 */
h1, h2, h3, h4 {
  text-align: center;
  margin: auto;
  width: 100%;
}
h5, h6 {
  text-align: left;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4, button {
  font-size: 20px;
}
span, p, label, input, select, textarea {
  width: 100%;
  font-family: $primary-font;
  font-size: 16px;
}

.clear::after {
  content: "";
  clear: both;
  display: table;
}

.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

/**
Responsive design, screen-with 900px +
 */
@media screen and (min-width: 900px) {
  header {
	height: 150px;
	clip-path: polygon(100% 0, 100% 60%, 90% 60%, 10% 100%, 0 100%, 0 0);
  }

  .container {
	padding: 30px;
	margin: 150px auto 60px;

	.plan-box {
	  width: 46%;
	  margin: 2%;
	}
  }

  .add {
	max-height: calc(100% - 155px);

	.add-boxes {
	  flex-direction: row;
	  padding: 10px;

	  .add-box {
		width: 28%;
		margin: 1%;

		label {
		  width: 100%;
		}
		input, select {
		  width: 75%;
		}
		textarea, a {
		  width: 100%;
		}
		input, select, textarea {
		  padding: 7px;
		}
		.add-button {
		  width: 60%;
		  margin: 0 auto;
		}
		.delete-button {
		  width: 38%;
		}
	  }
	}
  }

  /**
  Text
  */
  h1 {
	line-height: 80px;
  }
}