/*
 * DT173G - Webbutveckling III
 * Moment 4 - Typescript
 * Maria Rudolphi
 * 2018-10-03
 * style.scss
 */
/* if background is dark
$font-color: light;
else
$font-color: dark;
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: white;
  font-family: "Muli", sans-serif;
  /*.image{
    width: 100%;
    height: 100%;
    background: url('../images/bg.jpg');
    -webkit-background-size: 100%;
    background-size: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    opacity: 0.3;
  }*/ }

header {
  width: 100%;
  height: 150px;
  top: 0;
  clip-path: polygon(100% 0, 100% 60%, 90% 60%, 10% 100%, 0 100%, 0 0);
  background: #0056e6;
  color: #ffffff;
  position: absolute;
  padding: 10px; }
  header .userName {
    float: left; }
  header .logout {
    float: right; }
  header h1 {
    clear: both;
    margin: auto;
    text-align: center;
    line-height: 60px; }

.container {
  width: 100%;
  padding: 30px;
  margin: 150px auto 70px; }
  .container .plan-box {
    width: 46%;
    float: left;
    background: white;
    color: #000000;
    border: 1px solid #eaeaea;
    box-shadow: 2px 2px 4px #ddd;
    padding: 20px;
    margin: 2%; }
    .container .plan-box .col-1 {
      grid-column: 1 / span 1; }
    .container .plan-box .col-2 {
      grid-column: 2 / span 2; }
    .container .plan-box .col-1, .container .plan-box .col-2 {
      display: grid;
      grid-template-columns: repeat(5, 1fr); }
      .container .plan-box .col-1 .col-1-1, .container .plan-box .col-2 .col-1-1 {
        grid-column: 1 / span 2; }
      .container .plan-box .col-1 .col-1-2, .container .plan-box .col-2 .col-1-2 {
        grid-column: 3 / span 2; }
      .container .plan-box .col-1 .col-1-3, .container .plan-box .col-2 .col-1-3 {
        grid-column: 5; }
      .container .plan-box .col-1 .col-2-1, .container .plan-box .col-2 .col-2-1 {
        grid-column: 1; }
      .container .plan-box .col-1 .col-2-2, .container .plan-box .col-2 .col-2-2 {
        grid-column: 2; }
      .container .plan-box .col-1 .col-2-3, .container .plan-box .col-2 .col-2-3 {
        grid-column: 3 / span 3; }
    .container .plan-box article {
      border: 1px solid #ddd; }

.add {
  width: 100%;
  max-height: 82%;
  overflow: auto;
  position: fixed;
  bottom: 30px; }
  .add .show-add {
    padding: 20px;
    background: #005fff;
    color: #ffffff; }
    .add .show-add:hover {
      background: #0056e6; }
  .add .add-boxes {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #fefefe;
    color: #000000;
    padding: 10px; }
    .add .add-boxes .add-box {
      width: 28%;
      min-width: 200px;
      padding: 10px;
      background: #fff;
      color: #000000;
      border: 1px solid #ddd;
      border-radius: 10px;
      margin: 1%; }
      .add .add-boxes .add-box .clear {
        margin-bottom: 10px; }
      .add .add-boxes .add-box label {
        width: 100%; }
      .add .add-boxes .add-box input, .add .add-boxes .add-box select {
        width: 75%; }
      .add .add-boxes .add-box textarea, .add .add-boxes .add-box h3, .add .add-boxes .add-box h4, .add .add-boxes .add-box a {
        width: 100%; }
      .add .add-boxes .add-box input, .add .add-boxes .add-box select, .add .add-boxes .add-box textarea {
        padding: 7px;
        background: #fefefe;
        border: 1px solid #ddd;
        border-radius: 10px; }
      .add .add-boxes .add-box button {
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ddd;
        box-shadow: 2px 2px 4px #ddd; }
      .add .add-boxes .add-box .add-button {
        width: 60%;
        background: #0056e6;
        color: #ffffff; }
        .add .add-boxes .add-box .add-button:hover {
          background: #004ccc; }
      .add .add-boxes .add-box .delete-button {
        width: 38%;
        background: #c80000;
        color: #ffffff; }
        .add .add-boxes .add-box .delete-button:hover {
          background: #af0000; }

footer {
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 0;
  background: #222222;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  padding: 5px 0; }

/**
Helpers
 */
h1, h2, h3 {
  text-align: center;
  margin: auto; }

h4, h5, h6 {
  text-align: left; }

.clear::after {
  content: "";
  clear: both;
  display: table; }

.pointer {
  cursor: pointer; }

/*# sourceMappingURL=maps/style.css.map */
